.login-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: cyan; */
}

.login-container .login-logo {
  background-color: #ccc;
  text-align: center;
  height: 240px;
  line-height: 240px;
}

.login-container .login-form {
  width: 100%;
  padding: 15px;
}

.login-container .login-third {
  text-align: center;
}

.login-container .login-third i {
  margin: 0 10px;
}